.home__body{
  background-color: var(--c5);
  height: 100vh;
  padding: 1rem;
}

.home__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__header__icon__systech{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__header__icon__systech svg{
  width: 150px;
}

.home__header__buttons{
  display: flex;
  column-gap: .5rem;
  margin-left: 19rem;
  align-items: center;
  justify-content: center;
}

.home__header__buttons button{
  outline: none;
  border: none;
}

.home__header__icon__setor svg,
.home__header__icon__serv svg,
.home__header__icon__escola svg{
  fill: var(--c12);
}

.home__header__icon__setor,
.home__header__icon__serv,
.home__header__icon__escola{
  background-color: var(--c0);
  padding: 1rem;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: .3s ease;
  position: relative;
}

.home__header__icon__escola::after{
  content: 'Escola';
  font-size: 1rem;
  font-family: 'Raleway', sans-serif; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: none;
}

.home__header__icon__escola:hover{
  width: 120px;
  border-radius: 60px;
  align-items: start;
  justify-content: start;
  cursor: pointer;
}

.home__header__icon__escola:hover::after{
  display: inline-flex;
  border-radius: 60px;
  left: 40%;
  top: 0px;
  height: 48px;
}

.home__header__icon__escola__active{
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem 2rem;
  background-color: var(--p5);
  color: var(--c0);
  column-gap: .5rem;
  border-radius: 60px;
}

.home__header__icon__escola__active svg{
  fill: var(--c0);
}

.home__header__icon__serv::after{
  content: 'Servidor';
  font-size: 1rem;
  font-family: 'Raleway', sans-serif; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: none;
}

.home__header__icon__serv:hover{
  width: 140px;
  border-radius: 60px;
  align-items: start;
  justify-content: start;
  cursor: pointer;
}


.home__header__icon__serv:hover::after{
  display: inline-flex;
  border-radius: 60px;
  left: 35%;
  top: 0px;
  height: 48px;
}

.home__header__icon__serv__active{
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem 2rem;
  background-color: var(--p5);
  color: var(--c0);
  column-gap: .5rem;
  border-radius: 60px;
}

.home__header__icon__serv__active svg{
  fill: var(--c0);
}

.home__header__icon__setor::after{
  content: 'Setor';
  font-size: 1rem;
  font-family: 'Raleway', sans-serif; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: none;
}

.home__header__icon__setor:hover{
  width: 120px;
  border-radius: 60px;
  align-items: start;
  justify-content: start;
  cursor: pointer;
}


.home__header__icon__setor:hover::after{
  display: inline-flex;
  border-radius: 60px;
  left: 40%;
  top: 0px;
  height: 48px;
}

.home__header__icon__setor__active{
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem 2rem;
  background-color: var(--p5);
  color: var(--c0);
  column-gap: .5rem;
  border-radius: 60px;
}

.home__header__icon__setor__active svg{
  fill: var(--c0);
}

.home__header__search{
  width: 500px;
  height: 56px;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  justify-content: flex-end;
}

@media (max-width: 1225px) {
  .home__header__buttons{
    margin-left: 10rem;
  }
}

@media (max-width: 814px) {
  .home__header__buttons{
    margin-left: 6rem;
  }
}

@media (max-width: 764px) {
  .home__header__buttons{
    margin-left: 5rem;
  }
}

@media (max-width: 740px) {
  .home__header__buttons{
    margin-left: .5rem;
  }
}

@media (max-width: 667px) {
  .home__header__buttons{
    margin-left: .5rem;
  }
}

.home__content__modal{
  background-color: rgba(73, 73, 73, 0.822);
  backdrop-filter: blur(1px);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.home__header__buttons__active{
  display: flex;
  height: 100%;
  column-gap: .5rem;
  margin-left: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}

.home__header__buttons__active button{
  outline: none;
  border: none;
}

.modal__button__open{
  width: 96px;
  margin-left: 1rem;
  height: 48px;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c0);
  cursor: pointer;
}

.modal__button__open svg{
  fill: var(--c12);
  width: 24px;
  height: 18px;
}

@media (max-width: 470px) {
  .modal__button__open{
    width: 120px;
  }
}

@media (max-width: 420px) {
  .home__body{
    min-height: 100%;
  }

  .modal__button__open{
    width: 140px;
  }
}

@media (max-width: 400px) {
  .modal__button__open{
    width: 160px;
  }
}

@media (max-width: 370px) {
  .modal__button__open{
    width: 190px;
  }

  .home__header__icon__systech svg{
    width: 120px;
  }
}

.modal__button__open__active{
  position: absolute;
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--c0);
  cursor: pointer;
}

.modal__button__open__active svg{
  fill: var(--c12);
  width: 24px;
  height: 24px;
}