.success__container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.success__content{
  padding: 1rem 2rem;
  background-color: var(--c1);
  border-radius: 2rem;
  margin-bottom: 2rem;
  animation: fade-down .3s forwards;
}

.success__text{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--p3);
}

@media (max-width: 646px) {
  .success__container{
    margin-top: 1rem;
  }
}

@media (max-width: 510px) {
  .success__container{
    margin-top: 1rem;
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateX(120px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}