/* 
  font-family: 'DM Serif Display', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif; 
*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --c0:  #fff;
  --c1:  #fcfcfc;
  --c2:  #f8f8f8;
  --c3:  #f4f4f4;
  --c4:  #f0f0f0;
  --c5:  #e8e8e8;
  --c6:  #e0e0e0;
  --c7:  #d4d4d4;
  --c8:  #c8c8c8;
  --c9:  #808080;
  --c10: #707070;
  --c11: #505050;
  --c12: #404040;
  --c13: #2c2c2c;
  --c14: #282828;
  --c15: #202020;
  --c16: #181818;
  --c17: #000;
  --p1: #dad7cd;
  --p2: #a3b18a;
  --p3: #588157;
  --p4: #3a5a40;
  --p5: #344e41;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

.loader- {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--p3);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
} 

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-120px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.container{
  display: grid;
  grid-template-columns: 5fr 2fr;
  animation: fade-left .3s ease;
}

.rigth__side__container{
  background-color: var(--p4);
  height: 63vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  font-family: 'Raleway', sans-serif; 
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.rigth__side__title{
  color: var(--c0);
  font-size: 2rem;
  font-weight: 600;
  padding: 1.5rem 1rem;
}

.rigth__side__content{
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.rigth__side__option{
  background-color: transparent;
  padding: .5rem 1rem;
  cursor: pointer;
  margin: .5rem 1rem .5rem 0 ;
  color: var(--c0);
  border: 2px solid var(--c0);
  border-radius: 3rem;
  font-size: .85rem;
  font-weight: 500;
  letter-spacing: .5px;
  transition: .3s ease;
}

.rigth__side__option:hover{
  background-color: var(--c0);
  padding: .5rem 1rem;
  cursor: pointer;
  margin: .5rem 1rem .5rem 0 ;
  color: var(--p3);
  border: 2px solid var(--p3);
  border-radius: 3rem;
  font-size: .85rem;
  font-weight: 600;
  letter-spacing: .5px;
  transition: .3s ease;
}

.rigth__side__option__active{
  background-color: var(--c0);
  padding: .5rem 1rem;
  cursor: pointer;
  margin: .5rem 1rem .5rem 0 ;
  color: var(--p3);
  border: 2px solid var(--p3);
  border-radius: 3rem;
  font-size: .85rem;
  font-weight: 600;
  letter-spacing: .5px;
  transition: .3s ease;
}

.rigth__side__show{
  width: 100%;
  background-color: var(--c6);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 1.5rem 1rem;
  overflow-y: auto;
  height: 100%;
}

.rigth__side__text__report{
  font-weight: 800;
  font-size: .9rem;
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.rigth__content__card__edit{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__button__edit{
  background-color: var(--c8);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.rigth__content__card__edit div{
  display: flex;
  column-gap: .5rem;
}

.card__button__edit svg{
  fill: var(--c12);
}

.card__button__edit:hover{
  background-color: var(--c9);
}

.card__button__edit:hover svg{
  fill: var(--c0);
}


.rigth__side__card{
  background-color: var(--c7);
  padding: 2rem;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1rem;
  animation: fade-left .3s ;
}

.card__text{
  font-family: 'Inter', sans-serif;
}

.card__text span{
  font-weight: 800;
}

@media (max-width: 1230px) {
  .container{
    display: grid;
    grid-template-columns: 1fr;
  }

  .rigth__side__container{
    margin-top: 3rem;
  }

  .rigth__side__show{
    height: 705px;
  }
}